<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.org.celesta2k17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EventsActivity"
            android:screenOrientation="portrait"
            android:label="@string/events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ActivityPronite"
            android:label="@string/pronite"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LecturesActivity"
            android:label="@string/lectures"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SponsorsActivity"
            android:label="@string/sponsors"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.landwInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.WorkshopsActivity"
            android:label="@string/workshops"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MyProfile"
            android:label="@string/my_profile"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SocialActivity"
            android:label="@string/social"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
        android:name=".activities.FaqActivity"
        android:label="@string/faq"
        android:screenOrientation="portrait">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.MainActivity" />
    </activity>
        <activity
            android:name=".activities.RoboticsEvents"
            android:label="Robotics"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.ExpoEvents"
            android:label="Expo"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.DebateEvents"
            android:label="Debate"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.BuildItEvents"
            android:screenOrientation="portrait"
            android:label="Build It!!">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.DesignEvents"
            android:screenOrientation="portrait"
            android:label="Design">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.SocialEvents"
            android:screenOrientation="portrait"
            android:label="Social Events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.TeamActivity"
            android:screenOrientation="portrait"
            android:label="@string/team">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/SignUp"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MyProfile" />
        </activity>
        <activity
            android:name=".activities.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:screenOrientation="portrait">
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EventInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DevelopersActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ImageLauncher"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CodingEvents"
            android:label="Coding"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.PhotographyEvents"
            android:label="Photography Events"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.TreasureHunt"
            android:label="Treasure Hunt"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.StoryWritingEvents"
            android:screenOrientation="portrait">
            android:label="Story Writing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.QuizWizEvents"
            android:screenOrientation="portrait">
            android:label="Quiz Wiz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
        <activity android:name=".activities.ManagementEvents">
        </activity>
        <activity android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.org.celesta2k17.activities.EventsActivity" />
        </activity>
    </application>

</manifest>